<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Plotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Plotter.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="End" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Step" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="Right" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Bottom" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Axis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="YInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LeftMargin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BottomMargin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CurveType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Function1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Function2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Parameter" serializeAs="String">
                <value>x</value>
            </setting>
        </Plotter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
