@media print {
    .web-only {
        display: none !important;
    }
    
    .cover,
    .cover-logo,
    .cover img,
    .cover-logo img {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        display: block;
        height: auto !important;
    }
}