@media print {
    .web-only {
        display: none !important;
    }
}

/**************************/
/* Custom Pygments styles */
/**************************/

/***** Light Mode *****/

/* Types */
body[data-md-color-scheme="default"] .language-addyscript.highlight .kt {
    color: maroon;
}

/* Peudo-keyword */
body[data-md-color-scheme="default"] .language-addyscript.highlight .kp {
    color: teal;
}

/* Dates */
body[data-md-color-scheme="default"] .language-addyscript.highlight .ld {
    color: steelblue;
}

/* Punctuations */
body[data-md-color-scheme="default"] .language-addyscript.highlight .p {
    color: orangered;
}

/* Keyword operators */
body[data-md-color-scheme="default"] .language-addyscript.highlight .ow {
    color: darkslategray;
}

/* String escape sequences */
body[data-md-color-scheme="default"] .language-addyscript.highlight .se {
    color: darkolivegreen;
}

/***** Dark Mode *****/

/* Types (dark mode) */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .kt {
    color: chocolate;
}

/* Peudo-keyword */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .kp {
    color: mediumaquamarine;
}

/* Dates */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .ld {
    color: cornflowerblue;
}

/* Punctuations */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .p {
    color: darkgoldenrod;
}

/* Keyword operators */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .ow {
    color: slategray;
}

/* String escape sequences */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .se {
    color: olive;
}