@media print {
    .web-only {
        display: none !important;
    }
}

/**************************/
/* Custom Pygments styles */
/**************************/

/* Types */
.highlight .kt {
    color: saddlebrown;
}

/* Peudo-keyword */
.highlight .kp {
    color: teal;
}

/* Dates */
.highlight .ld {
    color: steelblue;
}

/* Punctuations */
.highlight .p {
    color: orangered;
}