@media print {
    .web-only {
        display: none !important;
    }
}

/**************************/
/* Custom Pygments styles */
/**************************/

/***** Light Mode *****/

/* Types */
body[data-md-color-scheme="default"] .highlight .kt {
    color: maroon;
}

/* Peudo-keyword */
body[data-md-color-scheme="default"] .highlight .kp {
    color: teal;
}

/* Dates */
body[data-md-color-scheme="default"] .highlight .ld {
    color: steelblue;
}

/* Punctuations */
body[data-md-color-scheme="default"] .highlight .p {
    color: orangered;
}

/* Keyword operators */
body[data-md-color-scheme="default"] .highlight .ok {
    color: darkslategray;
}

/***** Dark Mode *****/

/* Types (dark mode) */
body[data-md-color-scheme="slate"] .highlight .kt {
    color: chocolate;
}

/* Peudo-keyword */
body[data-md-color-scheme="slate"] .highlight .kp {
    color: darkturquoise;
}

/* Dates */
body[data-md-color-scheme="slate"] .highlight .ld {
    color: cornflowerblue;
}

/* Punctuations */
body[data-md-color-scheme="slate"] .highlight .p {
    color: darkgoldenrod;
}