@media print {
    .web-only {
        display: none !important;
    }

    #doc-cover > .wrapper.upper  {
        padding: 0 !important;
    }

    #doc-cover > .wrapper.upper > .logo  {
        background-size: cover !important;
    }
}