@media print {
    .web-only {
        display: none !important;
    }

    .highlighttable th.filename {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
        page-break-after: avoid;
    }
}

/**************************/
/* Custom Pygments styles */
/**************************/

/***** Light Mode *****/

/* Types */
body[data-md-color-scheme="default"] .language-addyscript.highlight .kt {
    color: maroon;
}

/* Pseudo-keywords */
body[data-md-color-scheme="default"] .language-addyscript.highlight .kp {
    color: teal;
}

/* Dates */
body[data-md-color-scheme="default"] .language-addyscript.highlight .ld {
    color: dodgerblue;
}

/* Punctuations */
body[data-md-color-scheme="default"] .language-addyscript.highlight .p {
    color: orangered;
}

/* Keyword operators */
body[data-md-color-scheme="default"] .language-addyscript.highlight .ow {
    color: slategray;
}

/* String escape sequences */
body[data-md-color-scheme="default"] .language-addyscript.highlight .se {
    color: darkolivegreen;
}

/***** Dark Mode *****/

/* Types (dark mode) */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .kt {
    color: tomato;
}

/* Pseudo-keywords */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .kp {
    color: cadetblue;
}

/* Dates */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .ld {
    color: lightskyblue;
}

/* Punctuations */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .p {
    color: chocolate;
}

/* Keyword operators */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .ow {
    color: lightslategray;
}

/* String escape sequences */
body[data-md-color-scheme="slate"] .language-addyscript.highlight .se {
    color: olive;
}