name: Deploy Wiki

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        
      - name: Setup Python 3.x
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
          
      - name: Install fonts
        run: sudo apt install -y fonts-dejavu

      - name: Install dependencies
        run: pip install mkdocs-material mkdocs-to-pdf pymdown-extensions pygments

      - name: Install tools
        run: pip install -e $(pwd)/docs/tools

      - name: Run MkDocs build
        run: mkdocs build
        
      - name: Upload site to GitHub pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: site
          
      - name: Deploy pages
        uses: actions/deploy-pages@v4
